<li id="comment-<%= comment._id %>">
    <p>
        <% if(locals.user && comment.user.id == locals.user.id){%>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%=comment._id%>">X</a>
            </small>
        <%}%>
        <span>Name: <%=comment.user.name%></span>
        <br>
        <span>content: <%=comment.content%></span>
    </p>
</li>