<!-- <header style="background-color: brown;">
    <center><h1 style="color: white;">
        Page Footer
    </h1></center>
</header> -->


<footer id="layout-footer">
    <div>
        <p>
            &#169; Battula Surya. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/user/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>