
<link rel="stylesheet" href="/css/home.css">
<center><h4>Codial Home Page</h4></center>
<div id="home-container">
    <%if(locals.user){%>


    <section id="post-form">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content"  cols="30" rows="3" placeholder="Type here...." required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
    <%}%>


    <section id="postsFeed">
        <%if(locals.user){%>
            <%- include('_post')-%>
        <%}%>
    </section>


    <section id="User-list">
        <% if (locals.user){%> 
            <ul>
            <% for(user of users){%> 
                <li>
                    <a href="/user/profile/<%= user.id%>"><%= user.name%></a>
                      
                </li>              
             <%}%>
            </ul>
        <%}%>
    </section>
</div>
<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>