
<head>

    <style>
        body{
            background-color: lightcoral;
            color: whitesmoke;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Codeial home page</h1>
</body>
</html>