<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <center><h1>User Profile</h1></center>
    <p>Name: <%= user.name%></p>
    <p>Email: <%= user.email%></p>
    <center>
        <form action="/user/signout" method="post">
            <input type="submit" value="Sign Out">
        </form>
    </center>
    
</body>
</html>