// #home-container {
//     display: flex;
//     width: 100%;
//     background-color: lightcoral;
//     color: whitesmoke;
//     text-align: center;
//     #post_feed{
//     text-align: start; 
//     width:60%;
//     height: 100%;

//     ul{
//         border: 2px white dashed;
//         li{
//             border: 2px brown solid; 
//             margin: 10px 3px;
//             padding: 5px;
//             padding-left: 10px;
//         }
//     }       
//     }
//     #post-form{
//         width:20%;
//     }
//     #User-list{
//         width: 20%;
//     }

// }
#home-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(98, 7, 155);
    color: whitesmoke;
    #post_feed{
        width: 600px;
        height: 100%;
        padding: 10px;
         ul{
        border: 2px white dashed;
        li{
            border: 2px brown solid; 
            margin: 10px 3px;
            padding: 5px;
            padding-left: 10px;
        }
    } 
    }
    #post-form{
        width:20%;
        height: 100%;
    }
    #User-list{
        width: 20%;
        height: 100%;
        padding: 10px;
        a{
            text-decoration: none;
            color: whitesmoke;
        }
    }

}